@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=JetBrains+Mono:wght@400;500;700&display=swap');

/* Importamos el tema de highlight.js a través de angular.json */

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif; /* Fuente principal para UI */
  background-color: #1e1e2e; /* Fondo azul-gris oscuro profundo */
  color: #e0e0f0; /* Texto blanco suave */
  overflow-x: hidden; /* Evita scroll horizontal no deseado */
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2e2e3e;
}

::-webkit-scrollbar-thumb {
  background: #4e4e6e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6e8e;
}